/* Estilos globales */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open nav,
body.modal-open nav.fixed {
  display: none !important;
}
